body {
  background: url('https://img.freepik.com/premium-photo/notebook-with-clean-white-sheets-writing-with-pen-white-background-crumpled-dry-branches-nearby-record-report-message-letter-place-text_173815-15029.jpg?w=2000') no-repeat center center fixed;
    background-size: cover;
  }
  

.tutor-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: silver;
  }
  
  .card {
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card .nameTutor,
.card .experienceTutor,
.card .specialtyTutor,
.card .quoteTutor,
.card .book {
  border: 1px dotted black;
  padding: 5px;
  background: teal;
  width: 200px;
}

.imgTutor {
    width: 10px; /* Adjust the width as needed */
    margin-right: 10px; /* Added */
  }

  .card:hover {
    transform: scale(1.01); /* Added */
    color: blue; /* Added */
    background-color: #f1f1f1

  }

  .card {
    /* ... */
    transition: color 0.3s ease; /* Added */
    transition: background-color 0.3s ease; /* Added */
  }
  
  